<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Viktor Kelemen</string>
	<key>CFBundleDisplayName</key>
	<string>Google status</string>
	<key>CFBundleIdentifier</key>
	<string>com.yikulju.googlestatus-safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>status.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>google-status-clicked</string>
				<key>Identifier</key>
				<string>google-status</string>
				<key>Image</key>
				<string>google_out.png</string>
				<key>Label</key>
				<string>Google Status</string>
				<key>Palette Label</key>
				<string>Google Status</string>
				<key>Tool Tip</key>
				<string>Google Status</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Google Status extension tells you whether or not you're logged into your Google account.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://github.com/yikulju/Google-Status-Safari-extension/downloads</string>
</dict>
</plist>
